/* Sun.css */
.sun-data {
    display: flex;
    flex-direction: row; /* Ustawienie elementów w jednym wierszu */
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .sun-item {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Odstęp między elementami */
  }
  
.sun-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    fill: white; /* Ustawia kolor ikony na biały */
  }  
  