.custom-map {
  height: 500px;
  width: 90%;
  position: relative;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-top.leaflet-left {
  top: 100px;
}

@media (max-width: 768px) {
  .custom-map {
    width: 100%;
    height: 400px;
  }
  .leaflet-top.leaflet-left {
    top: 60px;
  }
}
